@font-face {
  font-family: 'Clash-Display-Medium';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Medium.otf');
}
@font-face {
  font-family: 'Clash-Display-Regular';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Regular.otf');
}
@font-face {
  font-family: 'Clash-Display-Light';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Light.otf');
}
@font-face {
  font-family: 'Clash-Display-Bold';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Bold.otf');
}
@font-face {
  font-family: 'Clash-Display-Extralight';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Extralight.otf');
}
@font-face {
  font-family: 'Clash-Display-Semibold';
  src: url('../Fonts/Fonts/OTF/ClashDisplay-Semibold.otf');
}
@font-face {
  font-family: 'Akira Expanded-Superbold';
  src: url('../Fonts/Fonts/OTF/AkiraExpanded-SuperBold\ 800.otf');
}
a, span {
  display: inline-block;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: var(--clash-font);
  overflow-x: hidden;
}

.container {
  max-width: 1844px;
}
:root{
  --primary-color: #F7E700;
  --clash-font-medium: 'Clash-Display-Medium', sans-serif;
  --white-font: #fff;
  --clash-font-regular: 'Clash-Display-Regular', sans-serif;
  --clash-font-light: 'Clash-Display-Light', sans-serif;
  --clash-font-bold: 'Clash-Display-Bold', sans-serif;
  --clash-font-semibold: 'Clash-Display-SemiBold', sans-serif;
  --clash-font-extralight: 'Clash-Display-ExtraLight', sans-serif;
  --yellow-color: #f2ff00;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #4e4e4e;
  --transparent-white: rgba(255, 255, 255, 0.16);
  --transparent-white-border: rgba(255, 255, 255, 0.26);
  --akira-expanded-superbold: 'Akira Expanded-Superbold' sans-serif;
}
/* Navbar starts */
header {
  position:absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 99;
}
.sign-btn {
  display: flex;
  align-items: center;
  padding:20px 41px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  background: rgba(255, 247, 0, 10%);
  width: 319px;
  height: 77px;
  
}
.sign-btn > span:first-child {
  margin-right: 20px;
  font-family: var(--clash-font-medium);
  color: var(--primary-color);
}
.sign-btn > span:last-child {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 37px;
  height: 37px;
  border-radius: 29px;
}
.navbar-nav {
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 26%);
  border-radius: 56px;
  background: rgba(255, 255, 255, 26%);
  backdrop-filter: blur(13px);
  align-items: center;
}
.nav-item {
  margin-right: 5px;
}
.navbar-nav > .nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  padding:21px 25px !important;
  color: var(--white-font);
  border-radius: 50px;
  font-size: 18px;
  font-family: var(--clash-font-regular);
  transition: 0.5s linear;
  text-wrap: nowrap;
}
.nav-link.active, .nav-link:hover {
  background: var(--primary-color);
  color: var(--white-font);
}
.black-bg {
  background: #000;
  align-items: center;
  padding:22px 15px;
  border-radius:50px;
}
.black-bg > button {
  border: none;
  background: none;
}
.black-bg > input[type='text'] {
  background: transparent;
  color: white;
  padding:0 6px;
  border:none;
  font-family: var(--clash-font-regular);

}
.black-bg > input[type='text']:focus {
  outline: none;
}
.cart-icon {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;
}
.cart-icon:hover {
   transform: scale(1.05);
}
/* Banner section starts */
.banner-section {
  background: url("../images/Background image fitin.png") no-repeat top/cover;
  min-height: 100vh;
  position:relative;
  padding:495px 0 0;
  align-items: center;
  display: flex;
}
.banner-section::before {
  content: "";
  width: 627px;
  height: 627px;
  background: var(--primary-color);
  border-radius: 50%;
  filter:blur(200px);
  position:absolute;
  bottom: -80px;
  right: -167px;
  mix-blend-mode: plus-lighter;
}
.banner-row {
  align-items: center;
}
.banner-contain {
  max-width: 600px;
}
.para {
  font-size: 27px;
  font-weight: 500;
  font-family: var(--clash-font-medium);
  line-height: auto;
  letter-spacing: 0%;
}
.banner-para {
 background: linear-gradient(46.2379deg, rgb(255, 255, 255) 5.0612%, rgba(255, 255, 255, 0) 103.34%);
 --webkit-background-clip: text;
 --webkit-text-fill-color: transparent;
 background-clip: text;
 color: transparent;
}
.gym-image {
  max-width: 98px;
  display: flex;
  align-items: center;
  margin:40px 0;
}
.gym-Logo:first-child {
  margin-left: 0px;
}
.gym-Logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left:-25px;
}
.para-box {
    max-width: 300px;
}
.banner-para-1 {
    background: linear-gradient(46.2379deg, rgb(255, 255, 255) 5.0612%, rgba(255, 255, 255, 0) 103.34%);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
}
.para-spn {
  color: var(--primary-color);
}
.para-1 {
  font-size: 27px;
  font-weight: 500;
  font-family: var(--clash-font-medium);
  line-height: auto;
  letter-spacing: 0%;
}
.scroll {
  display: flex;
  align-items: center;
}
.scroller {
    font-size: 27px;
    font-weight: 500;
    color: var(--white-color);
    font-family: var(--clash-font-medium);
    line-height: auto;
    letter-spacing: 0%;
}
.scroll>hr {
    width: 2px;
    height: 33px;
    background-color: var(--white-color);
    margin-right: 16.5px;
    margin-top: 5px;
}
.banner-header {
  max-width: 1220px;
  margin-left: 55px;
}
.title-1 {
  text-transform: uppercase;
  color:var(--white-color);
  position: relative;
  font-size: 141px;
  font-family: "Akira Expanded-Superbold", sans-serif;
  margin: 0px;
  font-style: normal;
}
.title1-span {
    color: var(--yellow-color);
}
.banner-line {
  width: 148px;
  display: inline-block;
  position:absolute;
  right: 170px;
}
.visit-button {
    margin-top: 50px;
}
.banner-button {
    width: 310px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}
.bannr-button:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}
.banner-button>.visit-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 33px;
    font-family: var(--clash-font-regular);
    line-height: auto;
    letter-spacing: 0%;
}
.banner-button>.visit-svg {
    width: 20px;
    right: 0;
    margin-top: 50px;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}
.visit-div i {
    transform: rotate(-45deg);
    margin-left: 130px;
    font-size: 27px;
    margin-top: 12px;
}
.banner-section::after {
    content: "";
    z-index: 2;
    filter: blur(872px);
    background: #000000;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Banner Ends */
